@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "IBM Plex Mono", monospace;
}

body {
	background: black;
	color: rgba(255, 255, 255, 0.774);
}

#root {
	height: 100vh;
}

@media screen and (max-width: 600px) {
	#root {
		height: 93vh;
	}
}
